[submodule "effekt"]
	path = effekt
	url = https://github.com/effekt-lang/effekt.git
[submodule "generate/reference/are-we-fast-yet"]
	path = generate/reference/are-we-fast-yet
	url = https://github.com/smarr/are-we-fast-yet.git
[submodule "generate/reference/effect-handlers-bench"]
	path = generate/reference/effect-handlers-bench
	url = git@github.com:effect-handlers/effect-handlers-bench.git
