html, body {
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    margin: 0 auto;
    width: fit-content;
    padding: 32px;
}

.header * {
    vertical-align: middle;
}

.header span {
    font-size: 2em;
}

div#control {
    width: fit-content;
    margin: 0 auto;
}

div#control * {
    border-radius: 10px;
    border: 1px solid #dadada;
    padding: 8px;
    margin: 8px;
}

div#main {
    width: 100%;
    position: relative;
}

div#main section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* mobile */
@media(max-width: 1300px) {
    div#main section canvas {
        width: 100% !important;
        max-height: 60vh !important;
    }

    .header span {
        font-size: 1.5em;
    }

    div#control {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }
}

/* not phone / tablet */
@media(min-width: 1300px) {
    div#main section canvas {
        max-width: 40vw !important;
        max-height: 40vh !important;
        border: 1px solid #dadada;
        margin: 16px;
    }

    .legend ul {
        max-width: 40vw;
    }
}

/* custom chart JS legend */

.legend ul {
    display: flex;
    list-style: none;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    max-height: 6em;
    overflow-y: auto;
}

.legend li {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.legend li span {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin: 0 5px;
}

.legend-unselected {
    text-decoration: line-through;
}