div#main {
    width: 100%;
    height: 100%;
}

div#main section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

div#main section canvas {
    max-width: 40vw !important;
    max-height: 40vh !important;
}
