name: Sync benchmarks

on:
  workflow_dispatch:
    inputs:
      effekt_commit:
        description: "Commit SHA of Effekt submodule to checkout and build. If omitted, the latest commit is chosen. (OPTIONAL)"
        required: false
  schedule:
    - cron:  '0 10/12 * * *'

permissions:
  contents: write
  issues: write

jobs:
  sync:
    runs-on: self-hosted
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          submodules: recursive
          fetch-depth: 0

      - name: Install libuv
        run: sudo apt-get install libuv1-dev

      - name: Set up NodeJS
        uses: actions/setup-node@v4
        with:
          node-version: 16

      - name: Set up JDK 11
        uses: actions/setup-java@v4
        with:
          java-version: 11
          distribution: 'zulu'
          cache: 'sbt'

      - name: Setup SBT
        uses: sbt/setup-sbt@v1
        
      - name: Checkout given commit
        if: "${{ github.event.inputs.effekt_commit != '' }}"
        run: |
          git -C effekt/ checkout ${{ github.event.inputs.effekt_commit }}

      - name: Checkout most recent commit
        if: "${{ github.event.inputs.effekt_commit == '' }}"
        run: |
          git -C effekt/ checkout main
          git -C effekt/ pull

      - name: Update submodule
        run: |
          git submodule update --recursive --remote --init

      - name: Install generator dependencies
        run: |
          sudo apt -y update
          sudo apt -y install jq cloc python3 git time llvm-18 clang chezscheme gawk hyperfine

      - name: Generate data
        run: |
          cd generate/ && ./main.sh
        env:
          NODE_OPTIONS: "--max-old-space-size=8192"

      - name: Detect outliers
        run: |
          cd alerts/ && ./main.sh
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Push new data
        run: |
          git add effekt data
          git config --global user.name 'GitHub Action'
          git config --global user.email ''
          git commit -m "GitHub Action: Automated sync"
          git pull -r
          git push
